node_modules/
.env
phi.js
tempConst.js
a.py
playwright
chrome-profile
scrapping
.github

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
wasted.js
